{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <link rel="apple-touch-icon" type="image/jpg" href="{% static 'images/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>{% block title %}Resume App{%endblock %}</title>

</head>

<body>
    {% include 'profiles/partials/nav.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'profiles/partials/footer.html' %}

    <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.min.js' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</body>

</html>