{% extends 'profiles/base.html' %}

{% load static %}

{% include 'main/partials/nav.html' %}

{% block content %}
<section>
    <div class="bannerSection">
        <div class="container">
            <div class="row g-4 g-md-3  align-items-center">
                <div class="col-md-auto order-md-last">
                    <div class="bannerUserImg">
                        <img src="{{me.avatar.url}}" alt="{{me.first_name|title}} {{me.last_name|title}} avatar">
                    </div>
                </div>
                <div class="col-md">
                    <div class="bannerContent">
                        <h1 class="xlTitle pb-3">Hi, I’m {{me.first_name|title}}</h1>
                        <p>{{me.userprofile.bio}}</p>
                        <div class="bannerBtnCol">
                            <div class="row">
                                <div class="col-auto">
                                    <a id="cv" download href="{{me.cv.url}}" class="btn btnPrimary">Download
                                        Resume</a>
                                </div>
                                <div class="col-auto">
                                    <a href="{% url 'profiles:index' %}" class="btn btnOutline">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}