{% extends 'profiles/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section>
    <div class="innerPageBannerCol">
        <div class="container">
            <div class="row g-4 g-md-3  align-items-center">
                <div class="col-md-6">
                    <div class="bannerContent">
                        <h1 class="xlTitle pb-md-3">{% trans 'contactHeading' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="lightBg">
        <div class="container">
            <form id="contactForm" method="post" action={% url "contact:contact" %}>
                {% csrf_token %}
                {{ form.as_p }}
                <input class='btn btnPrimary' type="submit" value="{% trans 'Submit' %}" />
            </form>

        </div>
    </div>
</section>
<!-- ================================
End Content
================================= -->
{%endblock%}