{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="https://github.com/nasr-edine"><img src="{% static 'images/github.png' %}" alt="..."></a>
                </li>
                <li><a href="https://www.hackerrank.com/d_nasredine"><img src="{% static 'images/hackerrank.png' %}"
                            alt="..."></a></li>
                <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
                <li><a href="javascript:void(0)"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
            </ul>
            <div class="copyrightCol">
                <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="javascript:void(0)"
                        target="_blank">Nasr-edine Drai Design</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->